{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h1>{% block title %} Заявления{% endblock %}</h1>
        {% for post in posts %}
            {% if current_user.name == 'admin' or current_user.email==post['title'] %}
                <a href="{{ url_for('post', post_id=post['id']) }}">
                    {% if post['status'] == 'Принято' %}
                        <h4><font color="green">[{{ post['id'] }}] Работник-{{ post['title'] }}</font></h4>
                    {% elif post['status'] == 'Отказано' %}
                        <h4><font color="red">[{{ post['id'] }}] Работник-{{ post['title'] }}</font></h4>
                    {% else %}
                        <h4>[{{ post['id'] }}] Работник-{{ post['title'] }}</h4>
                    {% endif %}
                </a>
                <span class="badge badge-primary">{{ post['created'] }}</span>
                {% if current_user.name == 'admin' %}
                    <a href="{{ url_for('edit', id=post['id']) }}">
                        <span class="badge badge-warning">Изменить</span>
                    </a>
                {% endif %}
                <hr>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}