{% extends 'base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <br><h4>Имя</h4>
            <input type="text" name="fname"
                   placeholder="Введите имя"
                   value="{{ request.form['fname'] }}"></input>
            <h4>Фамилия</h4>
            <input type="text" name="lname"
                   placeholder="Введите фамилию"
                   value="{{ request.form['lname'] }}">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Сгенерировать фотографии</button>
        </div>
    </form>
{% endblock %}